<ul id="social">
	<li id="social-facebook">
		<a href="{{ site.social.url_facebook }}" title="Facebook">
			<svg xmlns="http://www.w3.org/2000/svg" aria-label="Facebook" role="img" viewBox="0 0 512 512">
				<title>Facebook</title>
				<rect width="512" height="512" rx="50" ry="50" fill="currentColor"/>
				<path d="M356 330l11-74h-71v-48q1-40 42-40h32v-63q-34-5-57-5c-60 0-97 36-97 100v56H151v74h65v182h80V330z"/>
			</svg>
		</a>
	</li>
	<li id="social-twitter">
		<a href="{{ site.social.url_twitter }}" title="Twitter">
			<svg xmlns="http://www.w3.org/2000/svg" aria-label="Twitter" role="img" viewBox="0 0 512 512">
				<title>Twitter</title>
				<rect width="512" height="512" rx="50" ry="50" fill="currentColor"/>
				<path fill="#fff" d="M437 152a72 72 0 01-40 12a72 72 0 0032-40a72 72 0 01-45 17a72 72 0 00-122 65a200 200 0 01-145-74a72 72 0 0022 94a72 72 0 01-32-7a72 72 0 0056 69a72 72 0 01-32 1a72 72 0 0067 50a200 200 0 01-105 29a200 200 0 00309-179a200 200 0 0035-37"/>
			</svg>
		</a>
	</li>
	<li id="social-rss">
		<a href="{{ site.social.url_rss }}" title="RSS Feed">
			<svg xmlns="http://www.w3.org/2000/svg" aria-label="RSS" role="img" viewBox="0 0 512 512">
				<title>RSS Feed</title>
				<rect width="512" height="512" rx="50" ry="50" fill="currentColor"/>
				<circle cx="145" cy="367" r="35" fill="#fff"/>
				<path fill="none" stroke="#fff" stroke-width="60" d="M109 241c89 0 162 73 162 162m114 0c0-152-124-276-276-276"/>
			</svg>
		</a>
	</li>
</ul>
