:root {
	--gap: 20px;
	--maxwidth: 100%;
}

@media screen and (min-width: 480px)
{
	:root { --maxwidth: 460px }
}

@media screen and (min-width: 640px)
{
	:root { --maxwidth: 600px }
}

@media screen and (min-width: 768px)
{
	:root { --maxwidth: 720px }
}

@media screen and (min-width: 960px)
{
	:root {
		--gap: 25px;
		--maxwidth: 910px;
	}
}

@media screen and (min-width: 1024px)
{
	:root {
		--gap: 30px;
		--maxwidth: 1000px;
	}
}

@media screen and (min-width: 1280px)
{
	:root { --maxwidth: 1200px }
}

@media screen and (min-width: 1600px)
{
	:root {
		--gap: 40px;
		--maxwidth: 1440px;
	}
}

@media screen and (min-width: 1920px)
{
	:root {
		--maxwidth: 1600px;
	}
}

/* Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

:focus { outline: 0 }
body { line-height: 1 }
ol, ul { list-style: none }

table {
	border-collapse: separate;
	border-spacing: 0;
}

caption, th, td {
	font-weight: normal;
	text-align: left;
}

blockquote::before, blockquote::after,
q:before, q:after { content: "" }
blockquote, q { quotes: "" "" }

a img { border: 0 }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { display: block }
figure { margin: 0 }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

/* Global */

body,
button,
input,
select,
textarea {
	line-height: 1.62em;
	font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #373737;
}

body { background: #5ca3e1 }

h1,h2,h3,h4,h5,h6 {
	clear: both;
	line-height: 1.4;
}

hr {
	background-color: #dbe9f5;
	border: 0;
	height: 1px;
	margin-bottom: 2em;
}

ul { list-style: disc }
ol { list-style-type: decimal }
ol ol { list-style: upper-alpha }
ol ol ol { list-style: lower-roman }
ol ol ol ol { list-style: lower-alpha }
ul ul, ol ol, ul ol, ol ul { margin-bottom: 0 }

dl { margin: 0 }

dt {
	margin-top: 1em;
	font-weight: bold;
}

dd { font-size: .9em }

strong { font-weight: bold }
cite, em, i { font-style: italic }

blockquote {
	font-style: italic;
	font-weight: normal;
	margin: 0 1em;
}

blockquote em, blockquote i,
blockquote cite { font-style: normal }

blockquote cite {
	color: #666;
	font: 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}

pre {
	background: #f4f4f4;
	font: 13px "Courier 10 Pitch", Courier, monospace;
	line-height: 1.5;
	margin-bottom: 2em;
	overflow: auto;
	padding: 2em;
}

abbr, acronym, dfn {
	border-bottom: 1px dotted #666;
	cursor: help;
}

address {
	display: block;
	margin: 0 0 2em;
}

ins {
    background: none;
    text-decoration: none;
}

sup,
sub {
	font-size: 10px;
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}

sup { bottom: 1ex }
sub { top: .5ex }

/* Forms */
input[type=text],
input[type=email],
input[type=url],
input[type=password],
textarea {
	background: #fafafa;
	border: 1px solid #ccc;
	color: #888;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
textarea:focus {
	color: #373737;
}

textarea {
	padding-left: 3px;
	width: 98%;
}

input[type=text],
input[type=email],
input[type=url] { padding: 5px }

select {
	box-sizing: border-box;
	max-width: 100%;
}

/* Links */
a {
	color: #337ab7;
	text-decoration: none;
}

a:focus,
a:active,
a:hover { text-decoration: underline }


/* Accessibility */

.assistive-text,
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

/* Header */

header {
	width: var(--maxwidth);
	margin: 0 auto;
	padding: var(--gap) 0;
	border-radius: 5px 5px 0 0;
	background-color: #fff;
}

#logo-link {
	display: block;
	margin: 0 var(--gap);
	width: calc(100% - 2 * var(--gap));
}

#logo-link_img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	height: auto;
}

@media screen and (min-width: 480px)
{
	header { margin: var(--gap) auto 0 }
}

/* Menues */

body>nav {
	display: block;
	margin: 0 auto;
	width: var(--maxwidth);
	background: linear-gradient(#255a8c, #1b4266);
}

body>nav ul {
	display: none;
	flex-flow: column nowrap;
	align-items: center;
	margin: 0;
	font-size: 14px;
	list-style: none;
}

body>nav li {
	display: block;
	width: 100%;
	text-align: center;
}

body>nav a {
	display: block;
	padding: 0 var(--gap);
	line-height: 3em;
	color: #eee;
	text-decoration: none;
}

body>nav a.active { font-weight: bold }

body>nav li:hover > a,
body>nav a:focus,
body>nav a:hover,
body>nav a:focus {
	background: linear-gradient(#1b4266, #286298);
	color: #fff;
}

body>nav input { display: none }

body>nav label,
body>nav svg { color: white }

body>nav label {
	display: inline-block;
	width: 100%;
	text-align: center;
}

body>nav label:hover { background-color: #1b4266 }

body>nav svg {
	width: 20px;
	height: 20px;
	vertical-align: middle;
	color: #ddd;
}

body>nav rect {
	transition: 250ms ease-in-out;
	transform-origin: 50% 50%;
}

body>nav span {
	display: inline-block;
	margin: .75em 0 .75em .5em;
	line-height: 1;
}

#menu_toggle:checked~ul {
	display: flex;
	background-color: #255a8c;
}

#menu_toggle:checked~label rect:nth-child(1) { transform: scaleX(0) translateY(6px) }
#menu_toggle:checked~label rect:nth-child(4) { transform: scaleX(0) translateY(-6px) }
#menu_toggle:checked~label rect:nth-child(2) { transform: rotate(45deg) }
#menu_toggle:checked~label rect:nth-child(3) { transform: rotate(-45deg) }

@media screen and (min-width: 768px)
{
	body>nav ul {
		display: flex;
		flex-flow: row nowrap;
	}

	body>nav li { width: unset }
	body>nav ul li+li { border-left: 1px solid #255a8c }
	body>nav label { display: none }
}

@media screen and (min-width: 960px)
{
	body>nav ul { margin: 0 calc(var(--gap) / 2) }
	body>nav ul a { padding: 0 calc(var(--gap) / 2) }
}

/* Main content */

main {
	display: grid;
	grid-auto-rows: minmax(min-content, max-content);
	grid-gap: var(--gap);
	margin: 0 auto;
	padding: var(--gap) 0;
	width: var(--maxwidth);
	background-color: #eee;
}

@media screen and (min-width: 768px) and (max-width: 959px)
{
	main>section { margin: 0 var(--gap) }
}

@media screen and (min-width: 960px)
{
	main {
		grid-gap: 0 var(--gap);
		grid-template-columns: 2fr 1fr;
	}
	
	main>section {
		grid-row: 1/9999;
		grid-column: 1/2;
		margin-left: var(--gap);
	}
}

/* Left column */

article {
	padding: calc(var(--gap) / 2) var(--gap) var(--gap);
	background-color: #fff;
	border-bottom: 2px solid #ccc;
	border-radius: 5px;
}

article>h1 {
	padding: calc(var(--gap) / 2) 0;
	line-height: 1.25;
	font-size: 26px;
	font-weight: bold;
	color: #222;
}

article>h2 {
	padding: 40px 0 20px;
	line-height: 1.25;
	font-size: 22px;
	font-weight: bold;
	color: #444;
}

article>ol,
article>ul {
	padding-left: 1em;
	margin: 20px 0;
}

article>ol ul,
article>ol ol,
article>ul ul,
article>ul ol { padding-left: 1em }

article>p:first-of-type { margin-top: 1em }

article>blockquote,
article>p+p { margin-top: 1em }

article>hr { margin: 20px 0 }
article img { max-width: 100% }

article>iframe {
	display: block;
	margin: 2em auto;
	width: 100%;
	aspect-ratio: 16 / 9;
}

article>table {
	width: 100%;
	margin: 2em auto;
	font-size: .9em;
}

article>iframe:last-child,
article>table:last-child { margin: 2em auto 0 }
article th { font-weight: bold }
article tbody tr:nth-child(even) { background-color: #f2f2f2 }

/* Sponsors */

#conference_sponsors ul {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	gap: calc(var(--gap) / 2);
	margin-bottom: 0;
	list-style: none;
}

#conference_sponsors img {
	padding: calc(var(--gap) / 4);
	border: 1px solid #bbb;
	max-height: calc(5 * var(--gap));
	transition: background-color 250ms ease-in-out;
}

#conference_sponsors a:hover img { background-color: #eee }

/* Conferences */

.conference_section { margin-top: var(--gap) }
.conference_section>h2 { padding-top: calc(var(--gap) / 2) }

.conference_speakers {
	margin-bottom: var(--gap);
	font-weight: bold;
	color: #707070;
}

.conference_videos { margin: var(--gap) 0 }

.conference_videos-video {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
}

.conference_videos-video iframe,
.conference_videos-video object,
.conference_videos-video embed {
	position: absolute;
	margin: auto;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.conference_videos-video+.conference_videos-video { margin-top: var(--gap) }

.conference_about {
	margin: var(--gap) 0 0;
	padding: var(--gap);
	border-bottom: 2px solid #ccc;
	border-radius: 5px;
	background-color: #fff;
}

.conference_about p:not(first-child),
.conference_about blockquote:not(first-child),
.conference_about ul:not(first-child) { margin-top: 1em }

.conference_time {
	display: block;
	margin-top: var(--gap);
	line-height: 1;
	font-size: 13px;
	font-weight: bold;
	color: #777;
}

.conference-back {
	display: block;
	margin-top: var(--gap);
	font-size: 13px;
}

.conference-back a::before {
	margin-right: .5em;
	content: '\25c0';
}

/* Blog */

.blog_list { list-style: none }
.blog_list li+li { margin-top: var(--gap) }

.blog_list h2 {
	padding: calc(var(--gap) / 2) 0;
	font-size: 26px;
	font-weight: bold;
	line-height: 1.25;
}

.blog_list h2 a { color: #222 }
.blog_list h2:hover a { color: #326693 }

.blog_list-readmore::after {
	margin-left: .25em;
	content: '\25ba';
}

.blog_post_details {
	margin: calc(var(--gap) / 2) 0;
	line-height: 1.5;
	font-size: 12px;
	color: #666;
}

.blog_post_details:last-of-type { margin-bottom: 0 }

.blog_nav {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	margin: var(--gap) auto 0;
	width: 100%;
	background: transparent;
}

.blog_nav a {
	padding: 0;
	color: #337ab7;
}

.blog_nav a:hover {
	background: transparent;
	color: #222;
}

.blog_nav-previous::before {
	margin-right: .5em;
	content: '\25c0';
}

.blog_nav-next::after {
	margin-left: .25em;
	content: '\25ba';
}

.blog_post_nav {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	margin: var(--gap) auto 0;
	width: 100%;
	background: transparent;
}

.blog_post_nav a {
	flex: 1 1 50%;
	padding: 0;
	font-size: 13px;
	color: #337ab7;
}

.blog_post_nav a:hover {
	background: transparent;
	text-decoration: underline;
	color: #222;
}

.blog_post_nav a:focus {
	color: #222;
	text-decoration: underline;
	background: transparent;
}

.blog_post_nav a:nth-child(2) { text-align: right }

.blog_post_nav span {
	display: block;
	line-height: 1.5;
}

.blog_post_nav a:hover span,
.blog_post_nav a:focus span { text-decoration: underline }

.blog_post_nav-nav {
	margin: 0 0 calc(var(--gap) / 2);
	color: #222;
}

.blog_post_nav-previous .blog_post_nav-nav::before {
	margin-right: .5em;
	content: '\25c0';
}

.blog_post_nav-next .blog_post_nav-nav::after {
	margin-left: .5em;
	content: '\25ba';
}

.blog_post_nav-text {
	margin: 0;
	font-weight: bold;
}

/* Search */

#search {
	padding: calc(var(--gap) / 2);
	border-bottom: 2px solid #b3d1ea;
	border-radius: 5px;
	background-color: #eff5fb;
}

#search_wrapper {
	display: flex;
	flex-flow: row nowrap;
	gap: calc(var(--gap) / 2);
	padding: calc(var(--gap) / 4);
	border: 1px solid #c3e1fa;
	border-radius: 3px;
	background: #fff;
}

#search_wrapper input {
	flex: 1 0 auto;
	padding: 0;
	border: 0;
}

#search_wrapper input::placeholder { color: #75aadc }

#search_wrapper-icon svg {
	vertical-align: middle;
	stroke: #457aac;
}

#search_results_container {
	margin: calc(var(--gap) / 2) 0 0;
	list-style: none;
	background-color: #eff5fb;
}

#search_results_container li {
	display: block;
	line-height: 1.25;
	font-size: 15px;
}

#search_results_container li+li {
	margin-top: calc(var(--gap) / 4);
	padding-top: calc(var(--gap) / 4);
	border-top: 1px dotted #c3e1fa;
}

#search_results_container a {
	display: block;
	margin: calc(var(--gap) / 4) 0;
}

.search_result-conference a::before { content: 'Conference' }
.search_result-post a::before { content: 'Blog' }

#search_results_container a::before {
	display: block;
	margin-bottom: calc(var(--gap) / 4);
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: .2em;
	color: #a3b1ca;
}

#search_results_container span {
	display: block;
	font-size: 13px;
	color: #8391aa;
}

#search_results_container:empty { display: none }

@media screen and (min-width: 768px) and (max-width: 959px)
{
	#search { margin: 0 var(--gap) }
}

@media screen and (min-width: 960px)
{
	#search {
		grid-column: 2/3;
		margin-right: var(--gap);
	}
}

/* Secondary navs */

main>nav {
	margin: 0;
	padding: calc(var(--gap) / 2) calc(var(--gap) / 2);
	background-color: #fff;
	border-bottom: 2px solid #ccc;
	border-radius: 5px;
	font-size: 13px;
}

main>nav ul {
	margin-bottom: 0;
	list-style: disc inside none;
}

main>nav .active { font-weight: bold }

main>nav h2 {
	display: block;
	margin: 0 calc(0px - var(--gap) / 2) calc(var(--gap) / 2);
	padding: 0 calc(var(--gap) / 2) calc(var(--gap) / 2);
	border-bottom: 2px solid #eee;
	font-size: 16px;
	font-weight: bold;
	color: #222;
	letter-spacing: .1em;
}

@media screen and (min-width: 320px)
{
	aside>div { margin: 0 var(--gap) }
}

@media screen and (min-width: 768px) and (max-width: 959px)
{
	main>nav { margin: 0 var(--gap) }
}

@media screen and (min-width: 960px)
{
	main>nav {
		grid-column: 2/3;
		margin: var(--gap) var(--gap) 0 0;
	}
}

/* Footer */

footer {
	width: var(--maxwidth);
	margin: 0 auto var(--gap);
	background-color: #fff;
	border-bottom: 2px solid #318bd9;
	border-radius: 0 0 5px 5px;
	text-align: center;
	font-size: 12px;
	color: #666;
}

footer nav { display: none }
#copyright { margin: calc(var(--gap) / 2) var(--gap) 0 }

#meta {
	margin: 0 var(--gap) var(--gap);
	font-size: 11px;
	opacity: .75;
}

#meta::before,
#meta::after { content: '\2014' }

#meta::before { margin-right: .5em }
#meta::after { margin-left: .5em }

#social {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	gap: var(--gap);
	margin: 0 var(--gap);
	padding-top: var(--gap);
	list-style: none;
}

#social a {
	display: block;
	line-height: 0;
}

#social svg {
	width: calc(1.5 * var(--gap));
	height: calc(1.5 * var(--gap));
	color: #afafaf;
	transition: color 250ms linear;
}

#social circle,
#social path {
	fill: #fff;
}

#social-facebook svg:hover { color: #1877f2 }
#social-twitter svg:hover { color: #1da1f2 }
#social-youtube svg:hover { color: #ed1d24 }
#social-rss svg:hover { color: #f80 }
#social-rss path { fill: none }

@media screen and (min-width: 960px)
{
	footer nav { display: block }

	#social {
		gap: calc(var(--gap) / 2);
		margin: 0 var(--gap);
	}

	#social svg {
		width: var(--gap);
		height: var(--gap);
	}
}
