---
layout: default
---

<ul class="blog_list">
{% for post in paginator.posts %}
	<li>
		<article>
			<h2>
				<a href="{{ post.url | absolute_url }}">{{ post.title }}</a>
			</h2>
			<div class="blog_post_details">
				Posted on <strong>{{ post.date | date_to_string: "ordinal", "US" }}</strong> by <strong>{{ post.author }}</strong>
			</div>
			{{ post.excerpt | strip_html }}... <a class="blog_list-readmore" href="{{ post.url | absolute_url }}">Continue reading</a>
			<div class="blog_post_details">
				Posted in <strong>{{ post.categories | sort | join: "</strong>, <strong>" }}</strong>
				{% if post.tags %} | Tagged <strong>{{ post.tags | sort | join: "</strong>, <strong>" }}</strong>{% endif %}
			</div>
		</article>
	</li>
{% endfor %}
</ul>
{% if paginator.total_pages > 1 %}
<nav class="blog_nav">
{% if paginator.next_page %}<a href="{{ paginator.next_page_path | prepend: site.baseurl }}">&larr; Older posts</a>{% endif %}
{% if paginator.previous_page %}<a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer posts &rarr;</a>{% endif %}
</nav>
{% endif %}
