---
layout: default
---
<article>
	<h1>{{ page.title }}</h1>
	<h3 class="conference_speakers">
	{% for speaker_loop in page.speakers %}
		{%- if forloop.length > 0 -%}
			{% assign speaker = site.speakers | where: "speaker", speaker_loop | first %}
			{%if speaker.speaker_url %}<a href="{{ speaker.speaker_url }}" target="_blank" rel="noopener noreferrer">{% endif %}
				{{ speaker.name }}
			{%if speaker.speaker_url %}</a>{% endif %}
			{% unless forloop.last %} &mdash; {% endunless -%}
		{%- endif -%}
	{% endfor %}
	</h3>
	{{ content }}
	{% if page.time %}
	<time class="conference_time" datetime="{{ page.time }}">{{ page.time | date_to_string: "ordinal", "US" | prepend: "Conference scheduled for " }}</time>
	{% endif %}
</article>

{% if page.videos %}
<div class="conference_videos">
{% for video in page.videos %}
	<div class="conference_videos-video">
		<iframe src="{{ video }}" title="YouTube video player" frameborder="0" allow="accelerometer;autoplay;clipboard-write;encrypted-media;gyroscope;picture-in-picture;web-share" allowfullscreen></iframe>
	</div>
{% endfor %}
</div>
{% endif %}

{% for speaker_loop in page.speakers %}
{% assign speaker = site.speakers | where: "speaker", speaker_loop | first %}
{% if speaker.content != "" %}
<section class="conference_about">
	<h3 class="conference_speakers"> About {%if speaker.speaker_url %}<a href="{{ speaker.speaker_url }}" target="_blank" rel="noopener noreferrer">{% endif %} {{ speaker.name | append: ":" }} {%if speaker.speaker_url %}</a>{% endif %} </h3>
	{{ speaker.content | markdownify }}
</section>
{% endif %}
{% endfor %}

<span class="conference-back"><a href="{{ page.year | prepend: "/" | prepend: page.collection | append: ".html" | absolute_url }}">{{ page.year | append: "&nbsp;IdeaWave" }}</a></span>
