---
layout: default
---

<article>
	<h1>{{ page.title }}</h1>
	<div class="blog_post_details">
		Posted on <strong>{{ page.date | date_to_string: "ordinal", "US" }}</strong> by <strong>{{ page.author }}</strong>
	</div>
	{{ content }}
	<div class="blog_post_details">
		Posted in <strong>{{ page.categories | sort | join: "</strong>, <strong>" }}</strong>
		{% if page.tags %} | Tagged <strong>{{ page.tags | sort | join: "</strong>, <strong>" }}</strong>{% endif %}
	</div>
</article>
{% if page.previous.url or page.next.url %}
<nav class="blog_post_nav">
{% if page.previous.url %}<a href="{{ page.previous.url | absolute_url }}">
	<span class="blog_post_nav-nav">&larr; Previous</span>
	<span class="blog_post_nav-text">{{ page.previous.title }}</span>
</a>{% endif %}
{% if page.next.url %}<a href="{{ page.next.url | absolute_url }}">
	<span class="blog_post_nav-nav">Next &rarr;</span>
	<span class="blog_post_nav-text">{{ page.next.title }}</span>
</a>{% endif %}
</nav>
{% endif %}
